<!DOCTYPE html>
<html>
  <head>
    <title>Survey Homepage</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h1>List of all survey information:</h1>
      <%= yield %>
    </div>
  </body>
</html>
